{
 ;; increase style attribute frequency
 [:global-attribute :alt 13] 10000,

 ;; decrease bgcolor attribute
 [:colgroup-attribute :alt 1] 10,
 [:col-attribute :alt 1] 10,
 [:body-attribute :alt 1] 10,
 [:table-attribute :alt 1] 10,
 [:tbody-attribute :alt 1] 10,
 [:tr-attribute :alt 1] 10,
 [:th-attribute :alt 1] 10,
 [:td-attribute :alt 1] 10,
 [:tfoot-attribute :alt 1] 10,
 [:marquee-attribute :alt 1] 10,

 ;; Remove entity references and character references
 [:content :alt 1] 0,

 ;; Only div and span elements
 [:element :alt 0] 0,
 [:element :alt 1] 0,
 [:element :alt 2] 0,
 [:element :alt 3] 0,
 [:element :alt 4] 0,
 [:element :alt 5] 0,
 [:element :alt 6] 0,
 [:element :alt 7] 0,
 [:element :alt 8] 0,
 [:element :alt 9] 0,
 [:element :alt 10] 0,
 [:element :alt 11] 0,
 [:element :alt 12] 0,
 [:element :alt 13] 0,
 [:element :alt 14] 0,
 [:element :alt 15] 0,
 [:element :alt 16] 0,
 [:element :alt 17] 0,
 [:element :alt 18] 0,
 [:element :alt 19] 0,
 [:element :alt 20] 0,
 [:element :alt 21] 0,
 [:element :alt 22] 0,
 [:element :alt 23] 0,
 [:element :alt 24] 0,
 [:element :alt 25] 0,
 [:element :alt 26] 0,
 [:element :alt 27] 0,
 [:element :alt 28] 0,
 [:element :alt 29] 0,
 [:element :alt 30] 0,
 [:element :alt 31] 0,
 [:element :alt 32] 0,
 [:element :alt 33] 0,
 [:element :alt 34] 0,
 [:element :alt 35] 0,
 [:element :alt 36] 0,
 [:element :alt 37] 100, ;; div
 [:element :alt 38] 0,
 [:element :alt 39] 0,
 [:element :alt 40] 0,
 [:element :alt 41] 0,
 [:element :alt 42] 0,
 [:element :alt 43] 0,
 [:element :alt 44] 0,
 [:element :alt 45] 0,
 [:element :alt 46] 0,
 [:element :alt 47] 0,
 [:element :alt 48] 0,
 [:element :alt 49] 0,
 [:element :alt 50] 0,
 [:element :alt 51] 0,
 [:element :alt 52] 0,
 [:element :alt 53] 0,
 [:element :alt 54] 0,
 [:element :alt 55] 0,
 [:element :alt 56] 0,
 [:element :alt 57] 0,
 [:element :alt 58] 0,
 [:element :alt 59] 0,
 [:element :alt 60] 0,
 [:element :alt 61] 0,
 [:element :alt 62] 0,
 [:element :alt 63] 0,
 [:element :alt 64] 0,
 [:element :alt 65] 0,
 [:element :alt 66] 0,
 [:element :alt 67] 0,
 [:element :alt 68] 0,
 [:element :alt 69] 0,
 [:element :alt 70] 0,
 [:element :alt 71] 0,
 [:element :alt 72] 0,
 [:element :alt 73] 0,
 [:element :alt 74] 0,
 [:element :alt 75] 0,
 [:element :alt 76] 0,
 [:element :alt 77] 0,
 [:element :alt 78] 0,
 [:element :alt 79] 0,
 [:element :alt 80] 0,
 [:element :alt 81] 0,
 [:element :alt 82] 0,
 [:element :alt 83] 0,
 [:element :alt 84] 0,
 [:element :alt 85] 0,
 [:element :alt 86] 0,
 [:element :alt 87] 0,
 [:element :alt 88] 0,
 [:element :alt 89] 0,
 [:element :alt 90] 0,
 [:element :alt 91] 0,
 [:element :alt 92] 0,
 [:element :alt 93] 0,
 [:element :alt 94] 0,
 [:element :alt 95] 0,
 [:element :alt 96] 0,
 [:element :alt 97] 0,
 [:element :alt 98] 0,
 [:element :alt 99] 0,
 [:element :alt 100] 0,
 [:element :alt 101] 0,
 [:element :alt 102] 0,
 [:element :alt 103] 0,
 [:element :alt 104] 0,
 [:element :alt 105] 0,
 [:element :alt 106] 100, ;; span
 [:element :alt 107] 0,
 [:element :alt 108] 0,
 [:element :alt 109] 0,
 [:element :alt 110] 0,
 [:element :alt 111] 0,
 [:element :alt 112] 0,
 [:element :alt 113] 0,
 [:element :alt 114] 0,
 [:element :alt 115] 0,
 [:element :alt 116] 0,
 [:element :alt 117] 0,
 [:element :alt 118] 0,
 [:element :alt 119] 0,
 [:element :alt 120] 0,
 [:element :alt 121] 0,
 [:element :alt 122] 0,
 [:element :alt 123] 0,
 [:element :alt 124] 0,
 [:element :alt 125] 0,
 [:element :alt 126] 0,
 [:element :alt 127] 0,
 [:element :alt 128] 0,
 [:element :alt 129] 0,
 [:element :alt 130] 0,

 ;; Only div and span elements
 [:css-assignment :alt 0] 0,
 [:css-assignment :alt 1] 0,
 [:css-assignment :alt 2] 0,
 [:css-assignment :alt 3] 0,
 [:css-assignment :alt 4] 0,
 [:css-assignment :alt 5] 0,
 [:css-assignment :alt 6] 0,
 [:css-assignment :alt 7] 0,
 [:css-assignment :alt 8] 0,
 [:css-assignment :alt 9] 0,
 [:css-assignment :alt 10] 0,
 [:css-assignment :alt 11] 0,
 [:css-assignment :alt 12] 0,
 [:css-assignment :alt 13] 0,
 [:css-assignment :alt 14] 0,
 [:css-assignment :alt 15] 0,
 [:css-assignment :alt 16] 0,
 [:css-assignment :alt 17] 0,
 [:css-assignment :alt 18] 0,
 [:css-assignment :alt 19] 0,
 [:css-assignment :alt 20] 0,
 [:css-assignment :alt 21] 0,
 [:css-assignment :alt 22] 0,
 [:css-assignment :alt 23] 0,
 [:css-assignment :alt 24] 0,
 [:css-assignment :alt 25] 0,
 [:css-assignment :alt 26] 0,
 [:css-assignment :alt 27] 0,
 [:css-assignment :alt 28] 0,
 [:css-assignment :alt 29] 0,
 [:css-assignment :alt 30] 0,
 [:css-assignment :alt 31] 0,
 [:css-assignment :alt 32] 0,
 [:css-assignment :alt 33] 0,
 [:css-assignment :alt 34] 0,
 [:css-assignment :alt 35] 0,
 [:css-assignment :alt 36] 0,
 [:css-assignment :alt 37] 0,
 [:css-assignment :alt 38] 0,
 [:css-assignment :alt 39] 0,
 [:css-assignment :alt 40] 0,
 [:css-assignment :alt 41] 0,
 [:css-assignment :alt 42] 0,
 [:css-assignment :alt 43] 0,
 [:css-assignment :alt 44] 0,
 [:css-assignment :alt 45] 0,
 [:css-assignment :alt 46] 0,
 [:css-assignment :alt 47] 0,
 [:css-assignment :alt 48] 0,
 [:css-assignment :alt 49] 0,
 [:css-assignment :alt 50] 0,
 [:css-assignment :alt 51] 0,
 [:css-assignment :alt 52] 0,
 [:css-assignment :alt 53] 0,
 [:css-assignment :alt 54] 0,
 [:css-assignment :alt 55] 0,
 [:css-assignment :alt 56] 0,
 [:css-assignment :alt 57] 0,
 [:css-assignment :alt 58] 0,
 [:css-assignment :alt 59] 0,
 [:css-assignment :alt 60] 0,
 [:css-assignment :alt 61] 0,
 [:css-assignment :alt 62] 0,
 [:css-assignment :alt 63] 0,
 [:css-assignment :alt 64] 0,
 [:css-assignment :alt 65] 0,
 [:css-assignment :alt 66] 0,
 [:css-assignment :alt 67] 0,
 [:css-assignment :alt 68] 0,
 [:css-assignment :alt 69] 0,
 [:css-assignment :alt 70] 0,
 [:css-assignment :alt 71] 0,
 [:css-assignment :alt 72] 0,
 [:css-assignment :alt 73] 0,
 [:css-assignment :alt 74] 0,
 [:css-assignment :alt 75] 0,
 [:css-assignment :alt 76] 0,
 [:css-assignment :alt 77] 0,
 [:css-assignment :alt 78] 0,
 [:css-assignment :alt 79] 0,
 [:css-assignment :alt 80] 0,
 [:css-assignment :alt 81] 0,
 [:css-assignment :alt 82] 0,
 [:css-assignment :alt 83] 0,
 [:css-assignment :alt 84] 0,
 [:css-assignment :alt 85] 0,
 [:css-assignment :alt 86] 0,
 [:css-assignment :alt 87] 0,
 [:css-assignment :alt 88] 0,
 [:css-assignment :alt 89] 0,
 [:css-assignment :alt 90] 0,
 [:css-assignment :alt 91] 0,
 [:css-assignment :alt 92] 0,
 [:css-assignment :alt 93] 0,
 [:css-assignment :alt 94] 0,
 [:css-assignment :alt 95] 0,
 [:css-assignment :alt 96] 0,
 [:css-assignment :alt 97] 0,
 [:css-assignment :alt 98] 0,
 [:css-assignment :alt 99] 0,
 [:css-assignment :alt 100] 0,
 [:css-assignment :alt 101] 0,
 [:css-assignment :alt 102] 0,
 [:css-assignment :alt 103] 0,
 [:css-assignment :alt 104] 0,
 [:css-assignment :alt 105] 0,
 [:css-assignment :alt 106] 0,
 [:css-assignment :alt 107] 0,
 [:css-assignment :alt 108] 0,
 [:css-assignment :alt 109] 0,
 [:css-assignment :alt 110] 0,
 [:css-assignment :alt 111] 0,
 [:css-assignment :alt 112] 0,
 [:css-assignment :alt 113] 100, ;; float
 [:css-assignment :alt 114] 0,
 [:css-assignment :alt 115] 0,
 [:css-assignment :alt 116] 0,
 [:css-assignment :alt 117] 0,
 [:css-assignment :alt 118] 0,
 [:css-assignment :alt 119] 0,
 [:css-assignment :alt 120] 0,
 [:css-assignment :alt 121] 0,
 [:css-assignment :alt 122] 0,
 [:css-assignment :alt 123] 0,
 [:css-assignment :alt 124] 0,
 [:css-assignment :alt 125] 0,
 [:css-assignment :alt 126] 0,
 [:css-assignment :alt 127] 0,
 [:css-assignment :alt 128] 0,
 [:css-assignment :alt 129] 0,
 [:css-assignment :alt 130] 0,
 [:css-assignment :alt 131] 0,
 [:css-assignment :alt 132] 0,
 [:css-assignment :alt 133] 0,
 [:css-assignment :alt 134] 100, ;; top
 [:css-assignment :alt 135] 0,
 [:css-assignment :alt 136] 0,
 [:css-assignment :alt 137] 0,
 [:css-assignment :alt 138] 100, ;; right
 [:css-assignment :alt 139] 0,
 [:css-assignment :alt 140] 0,
 [:css-assignment :alt 141] 0,
 [:css-assignment :alt 142] 0,
 [:css-assignment :alt 143] 100, ;; left
 [:css-assignment :alt 144] 100, ;; width
 [:css-assignment :alt 145] 0,
 [:css-assignment :alt 146] 0,
 [:css-assignment :alt 147] 0,
 [:css-assignment :alt 148] 0,
 [:css-assignment :alt 149] 0,
 [:css-assignment :alt 150] 0,
 [:css-assignment :alt 151] 0,
 [:css-assignment :alt 152] 0,
 [:css-assignment :alt 153] 0,
 [:css-assignment :alt 154] 0,
 [:css-assignment :alt 155] 0,
 [:css-assignment :alt 156] 0,
 [:css-assignment :alt 157] 0,
 [:css-assignment :alt 158] 0,
 [:css-assignment :alt 159] 0,
 [:css-assignment :alt 160] 0,
 [:css-assignment :alt 161] 0,
 [:css-assignment :alt 162] 0,
 [:css-assignment :alt 163] 0,
 [:css-assignment :alt 164] 0,
 [:css-assignment :alt 165] 0,
 [:css-assignment :alt 166] 0,
 [:css-assignment :alt 167] 0,
 [:css-assignment :alt 168] 0,
 [:css-assignment :alt 169] 0,
 [:css-assignment :alt 170] 0,
 [:css-assignment :alt 171] 0,
 [:css-assignment :alt 172] 0,
 [:css-assignment :alt 173] 0,
 [:css-assignment :alt 174] 0,
 [:css-assignment :alt 175] 0,
 [:css-assignment :alt 176] 0,
 [:css-assignment :alt 177] 0,
 [:css-assignment :alt 178] 0,
 [:css-assignment :alt 179] 0,
 [:css-assignment :alt 180] 0,
 [:css-assignment :alt 181] 0,
 [:css-assignment :alt 182] 0,
 [:css-assignment :alt 183] 0,
 [:css-assignment :alt 184] 100, ;; color
 [:css-assignment :alt 185] 0,
 [:css-assignment :alt 186] 0,
 [:css-assignment :alt 187] 0,
 [:css-assignment :alt 188] 0,
 [:css-assignment :alt 189] 0,
 [:css-assignment :alt 190] 0,
 [:css-assignment :alt 191] 0,
 [:css-assignment :alt 192] 0,
 [:css-assignment :alt 193] 0,
 [:css-assignment :alt 194] 0,
 [:css-assignment :alt 195] 0,
 [:css-assignment :alt 196] 0,
 [:css-assignment :alt 197] 0,
 [:css-assignment :alt 198] 0,
 [:css-assignment :alt 199] 0,
 [:css-assignment :alt 200] 0,
 [:css-assignment :alt 201] 0,
 [:css-assignment :alt 202] 0,
 [:css-assignment :alt 203] 0,
 [:css-assignment :alt 204] 0,
 [:css-assignment :alt 205] 0,
 [:css-assignment :alt 206] 0,
 [:css-assignment :alt 207] 0,
 [:css-assignment :alt 208] 0,
 [:css-assignment :alt 209] 0,
 [:css-assignment :alt 210] 0,
 [:css-assignment :alt 211] 0,
 [:css-assignment :alt 212] 0,
 [:css-assignment :alt 213] 0,
 [:css-assignment :alt 214] 0,
 [:css-assignment :alt 215] 0,
 [:css-assignment :alt 216] 0,
 [:css-assignment :alt 217] 0,
 [:css-assignment :alt 218] 0,
 [:css-assignment :alt 219] 0,
 [:css-assignment :alt 220] 0,
 [:css-assignment :alt 221] 0,
 [:css-assignment :alt 222] 0,
 [:css-assignment :alt 223] 0,
 [:css-assignment :alt 224] 0,
 [:css-assignment :alt 225] 0,
 [:css-assignment :alt 226] 0,
 [:css-assignment :alt 227] 0,
 [:css-assignment :alt 228] 0,
 [:css-assignment :alt 229] 0,
 [:css-assignment :alt 230] 100, ;; position
 [:css-assignment :alt 231] 0,
 [:css-assignment :alt 232] 0,
 [:css-assignment :alt 233] 100, ;; margin-top
 [:css-assignment :alt 234] 0,
 [:css-assignment :alt 235] 0,
 [:css-assignment :alt 236] 100, ;; display
 [:css-assignment :alt 237] 0,
 [:css-assignment :alt 238] 0,
 [:css-assignment :alt 239] 0,
 [:css-assignment :alt 240] 0,
 [:css-assignment :alt 241] 0,
 [:css-assignment :alt 242] 0,
 [:css-assignment :alt 243] 0,
 [:css-assignment :alt 244] 0,
 [:css-assignment :alt 245] 0,
 [:css-assignment :alt 246] 0,
 [:css-assignment :alt 247] 0,
 [:css-assignment :alt 248] 0,
 [:css-assignment :alt 249] 0,
 [:css-assignment :alt 250] 0,
 [:css-assignment :alt 251] 0,
 [:css-assignment :alt 252] 0,
 [:css-assignment :alt 253] 0,
 [:css-assignment :alt 254] 0,
 [:css-assignment :alt 255] 0,
 [:css-assignment :alt 256] 0,
 [:css-assignment :alt 257] 0,
 [:css-assignment :alt 258] 0,
 [:css-assignment :alt 259] 0,
 [:css-assignment :alt 260] 0,
 [:css-assignment :alt 261] 0,
 [:css-assignment :alt 262] 0,
 [:css-assignment :alt 263] 0,
 [:css-assignment :alt 264] 0,
 [:css-assignment :alt 265] 0,
 [:css-assignment :alt 266] 0,
 [:css-assignment :alt 267] 0,
 [:css-assignment :alt 268] 0,
 [:css-assignment :alt 269] 0,
 [:css-assignment :alt 270] 0,
 [:css-assignment :alt 271] 0,
 [:css-assignment :alt 272] 0,
 [:css-assignment :alt 273] 0,
 [:css-assignment :alt 274] 0,
 [:css-assignment :alt 275] 0,
 [:css-assignment :alt 276] 0,
 [:css-assignment :alt 277] 100, ;; background-color
 [:css-assignment :alt 278] 100, ;; margin-left
 [:css-assignment :alt 279] 0,
 [:css-assignment :alt 280] 0,
 [:css-assignment :alt 281] 0,
 [:css-assignment :alt 282] 0,
 [:css-assignment :alt 283] 0,
 [:css-assignment :alt 284] 0,
 [:css-assignment :alt 285] 0,
 [:css-assignment :alt 286] 0,
 [:css-assignment :alt 287] 0,
 [:css-assignment :alt 288] 100, ;; height
 [:css-assignment :alt 289] 0,
 [:css-assignment :alt 290] 0,
 [:css-assignment :alt 291] 0,
 [:css-assignment :alt 292] 0,
 [:css-assignment :alt 293] 0,
 [:css-assignment :alt 294] 0,
 [:css-assignment :alt 295] 0,
 [:css-assignment :alt 296] 0,
 [:css-assignment :alt 297] 0,
 [:css-assignment :alt 298] 0,
 [:css-assignment :alt 299] 100, ;; margin
 [:css-assignment :alt 300] 0,
 [:css-assignment :alt 301] 100, ;; margin-right
 [:css-assignment :alt 302] 0,
 [:css-assignment :alt 303] 0,
 [:css-assignment :alt 304] 0,
 [:css-assignment :alt 305] 0,
 [:css-assignment :alt 306] 0,
 [:css-assignment :alt 307] 0,
 [:css-assignment :alt 308] 0,
 [:css-assignment :alt 309] 0,
 [:css-assignment :alt 310] 0,
 [:css-assignment :alt 311] 0,
 [:css-assignment :alt 312] 0,
 [:css-assignment :alt 313] 0,
 [:css-assignment :alt 314] 0,
 [:css-assignment :alt 315] 0,
 [:css-assignment :alt 316] 0,
 [:css-assignment :alt 317] 0,
 [:css-assignment :alt 318] 0,
 [:css-assignment :alt 319] 0,
 [:css-assignment :alt 320] 0,
 [:css-assignment :alt 321] 0,
 [:css-assignment :alt 322] 0,
 [:css-assignment :alt 323] 0,
 [:css-assignment :alt 324] 100, ;; margin-bottom
 [:css-assignment :alt 325] 0,
 [:css-assignment :alt 326] 0,
 [:css-assignment :alt 327] 0,
 [:css-assignment :alt 328] 0,
 [:css-assignment :alt 329] 0,
 [:css-assignment :alt 330] 0,
 [:css-assignment :alt 331] 0,
 [:css-assignment :alt 332] 0,
 [:css-assignment :alt 333] 0,
 [:css-assignment :alt 334] 0,
 [:css-assignment :alt 335] 0,
 [:css-assignment :alt 336] 0,
 [:css-assignment :alt 337] 0,
 [:css-assignment :alt 338] 0,
 [:css-assignment :alt 339] 0,
 [:css-assignment :alt 340] 0,
 [:css-assignment :alt 341] 0,
 [:css-assignment :alt 342] 0,
 [:css-assignment :alt 343] 0,
 [:css-assignment :alt 344] 0,
 [:css-assignment :alt 345] 0,
 [:css-assignment :alt 346] 0,
 [:css-assignment :alt 347] 0,
 [:css-assignment :alt 348] 0,
 [:css-assignment :alt 349] 0,
 [:css-assignment :alt 350] 0,
 [:css-assignment :alt 351] 0,
 [:css-assignment :alt 352] 0,
 [:css-assignment :alt 353] 0,
 [:css-assignment :alt 354] 0,
 [:css-assignment :alt 355] 0,
 [:css-assignment :alt 356] 0,
 [:css-assignment :alt 357] 0,
 [:css-assignment :alt 358] 0,
 [:css-assignment :alt 359] 0,
 [:css-assignment :alt 360] 0,
 [:css-assignment :alt 361] 0,
 [:css-assignment :alt 362] 0,
 [:css-assignment :alt 363] 0,
 [:css-assignment :alt 364] 0,

 ;; disable recent background-color,color: values
 [:nonprop-color :alt 1]           0, ;; func-rgba
 [:nonprop-color :alt 3]           0, ;; func-hsla
 [:nonprop-color :alt 7]           0, ;; deprecated-system-color

 ;; disable space separated color notations
 [:func-hsl :cat 1 :alt 0]         0,
 [:func-hsla :cat 1 :alt 0]        0,
 [:func-rgb :cat 1 :alt 0]         0,
 [:func-rgba :cat 1 :alt 0]        0,

 ;; disable recent display: values
 [:nonprop-display-legacy :alt 3]  0, ;; inline-flex
 [:nonprop-display-legacy :alt 4]  0, ;; inline-grid
 [:nonprop-display-inside :alt 0]  0, ;; flow
 [:nonprop-display-inside :alt 1]  0, ;; flow-root
 [:nonprop-display-inside :alt 4]  0, ;; grid
 [:nonprop-display-inside :alt 5]  0, ;; subgrid
 [:nonprop-display-inside :alt 6]  0, ;; ruby
 [:prop-display-inside :alt 3]     0, ;; flex
 [:nonprop-display-inside :alt 3]  0, ;; flex
 [:nonprop-display-box  :alt 0]    0, ;; contents
 [:prop-display-outside :alt  3]   0, ;; contents
 [:prop-display-outside :alt 13]   0, ;; ruby-base
 [:prop-display-outside :alt 14]   0, ;; ruby-text
 [:prop-display-outside :alt 15]   0, ;; ruby-base-container
 [:prop-display-outside :alt 16]   0, ;; ruby-text-container
 [:nonprop-display-outside :alt 2] 0, ;; run-in
 [:nonprop-display-internal :alt 8] 0, ;; ruby-base
 [:nonprop-display-internal :alt 9] 0, ;; ruby-text
 [:nonprop-display-internal :alt 10] 0, ;; ruby-base-container
 [:nonprop-display-internal :alt 11] 0, ;; ruby-text-container

 ;; disable recent float: values
 [:prop-float :alt 3]              0, ;; inline-start
 [:prop-float :alt 4]              0, ;; inline-end

 ;; disable recent height: values
 [:prop-height :alt 2]             0, ;; min-content
 [:prop-height :alt 3]             0, ;; max-content
 [:prop-height :alt 4]             0, ;; fit-content

 ;; disable recent width: values
 [:prop-width :alt 2]              0, ;; min-content
 [:prop-width :alt 3]              0, ;; max-content
 [:prop-width :alt 4]              0, ;; fit-content

 ;; disable recent position: values
 [:prop-position :alt 3]           0, ;; sticky
}
