{
 ;; Increase style attribute frequency
 [:global-attribute :alt 11] 10000,

 ;; Remove entity references and character references
 [:content :alt 1] 0,

 ;; Increase div and span elements
 [:element :alt 26] 10000, ;; div
 [:element :alt 87] 10000, ;; span
}
