@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.summary {
  background-color: #dddddd;
  width: 100%;
}

.fontawesome {
  font-family: fontawesome;
  font-weight: normal;
}

.fontawesome-red {
  font-family: fontawesome;
  font-weight: normal;
  color: #d44;
  margin-left: 10px;
}

.fontawesome-green {
  font-family: fontawesome;
  font-weight: normal;
  color: #4d4;
  margin-left: 10px;
}

.connect-icon {
  margin-right: 10px;
}

.connected {
  margin-right: 10px;
  color: #4d4;
}

.disconnected {
  margin-right: 10px;
  color: #d44;
  background: linear-gradient(to right top, transparent 40%, currentColor 50%, currentColor 50%, transparent 60%);
}

